@import "tailwindcss";

@theme {
  --font-sans: var(--font-ibm-plex-sans), sans-serif;
  --color-cyan-accent: #66e2dc;
  --color-orange-accent: #fa7453;
  --color-yellow-accent: #ffb964;
  --color-dark-main: #191826;
  --color-cream-main: #fcfaf9;
}

body {
  background-color: #fcfaf9;
  color: #191826;
  font-family: var(--font-ibm-plex-sans), sans-serif;
  overflow-x: hidden;
}

